body {
    background-color: #4caf50;
    font-size: 20px;
}
.header {
    text-align: center;
    font-size: 30px;
}

.image1 {
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

  div.heading {
    text-align: center;
    margin: 20px;
    font-size: 25px;
  }
  .image2 {
    width: 150px;
    float: left;
    margin-left: 5px;
    border-radius: 20px;
  }
  
  p.paragraph1 {
    text-align: justify;
    margin: 20px;
    font-size: 20px;
  }
  .image3 {
    width: 150px;
    float: right;
    margin-left: 5px;
    border-radius: 20px;
  }
